@model WebApplication1.Models.Komputers

@{
    ViewBag.Title = "Delete";
}

<div style="position: fixed;
  top: 0;
  left: 0;
  width: 13%;
  height: 100%;
  background-color:aqua;
  border-right:dashed;
  border-bottom-color:black;
  border-width:1px">
    <ul style="padding-top:20%; font-size:medium">
        <li>@Html.ActionLink("Домой", "Index", "Home")</li>
        <li>@Html.ActionLink("Компьютеры", "admin_index", "Komputers")</li>
        <li>@Html.ActionLink("Производители", "Index", "Makers")</li>
        <li>@Html.ActionLink("Заказы", "Index", "Deliveries")</li>
        <li>@Html.ActionLink("Продажи", "Index", "Orders")</li>
        <li>@Html.ActionLink("Комплектующие", "Index", "Details")</li>
    </ul>
</div>
<div style="position: fixed;
    top: 0;
    left: 13%;
    width: 100%;
    height: 100%;
    background-color:bisque">

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Komputers</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.image)
            </dt>

            <dd>
                @{ 
                if (Model.image != null)
                {
                    byte[] photo = Model.image;
                    string imageSrc = null;
                    if (photo != null)
                    {
                        MemoryStream ms = new MemoryStream();
                        ms.Write(photo, 0, photo.Length);
                        string imageBase64 = Convert.ToBase64String(ms.ToArray());
                        imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                        string base64String = Convert.ToBase64String(photo, 0, photo.Length);
                    }
                <img src="@imageSrc" alt="Image" width="60" height="60" />
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Deliveries.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deliveries.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hard_disks.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hard_disks.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Motherboards.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Motherboards.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Orders.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Orders.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Processors.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Processors.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rams.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rams.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "admin_index")
            </div>
        }
    </div>
</div>